/* TODO: define grid container rules */

/* TODO: Get a grid to display as many cells as you want in a defined space. */
body{
    display: flex;
    justify-content: center;
}
.container {
    display: grid;
    border: 1px grey solid;
    width: 500px;
    height: 500px;
    /* grid-template-columns: repeat(3,1fr) ; /* This will be parameterized via the function in JS */
    /* grid-template-rows: repeat(3, 1fr) ; */
    /* height: 500px; */
    /* justify-content: center; */
}

.container > *{
    border: 1px grey solid;
    
    /* min-width: 1fr;
    min-height: 1fr; */
}